
html, body {
  width: auto !important;
  overflow-x: hidden !important;
}

/***************************************/
@font-face {
    font-family: waterfont;
    src: url("../fonts/stallion.ttf");
}

.water-font {
    font-family: waterfont;
    color: #ffffff;
    font-size: 140px;
    text-align: center;
}


/***************************************/
@media all and (max-width: 500px){ /* screen size until 500px */
    .water-font {
        font-size: 80px; /* 0.8x default size */
        }
    .initial{
      float: right;
    }
}
/**************nav bar******************/

.nav-option
{
  color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
}

.nav-option:hover
{
  text-decoration: none;
  /*color:green;*/
}


.pill
{
  width: 150px;
  height: auto;
  border-style: ;
  border-radius: 5px;
  background-color: ;
  margin-left: auto;
  margin-right: auto;
}
.pill:hover
{
  width: 150px;
  height: auto;
  border-style: ;
  border-radius: 5px;
  background-color: #36C3E5;
  margin-left: auto;
  margin-right: auto;
  color: black;
};

.pill:active
{
    width: 150px;
  height: auto;
  border-style: ;
  border-radius: 5px;
  background-color: #ff0000;
  margin-left: auto;
  margin-right: auto;
  color: black;
}

.initial
{
  width: 90px;
  height: 90px;
  float: left;
}

button
{

  background-color: transparent;
  border:none;
  font-size: 30px;
  float: right;
  margin-right: 30px;

}

.top
{
  background-color: red;
  position: fixed;
  z-index: 1;
  height: 120px;
}

.topp{  position:fixed;
  width: 100%;
  z-index: 1;
}

.margin
{ 
  margin-left: auto;
  margin-right: auto;
}

.menu
{
  background-color: black;
  width: 100%;
  height: auto;
  z-index: 1;

}

.togglebtn
{
  background-color: ;
  width: 100%;
  height:60px;
  position: relative;
}

/**********************************************************************/

.font-dosis
{
	font-family: 'Dosis', sans-serif;
}

.module_head
{
  padding-top: 20px;
}
.module_head h1
{
  font-size: 40px;
  /*padding-bottom: 80px;*/
}
.module-about
{
  width: auto;
	background-color: #36C3E5;
	height: auto;
  padding-top: 60px;
}

.resume
{
  float:right;
  width: 60px;
  height: 60px;
}

/*********skills module*************/
.align_para{ 
  margin-right: auto;
  margin-left: auto;
  font-weight: bold;
  letter-spacing: 1px;
}

.module-skills
{
  background-color: #fcb533;
  height: auto;
}

.module-skills h3,h4
{
  text-align: justify;
  padding: 20px;
  word-spacing: 3px;
}
.page-header
{
  border:none;
  padding-left: 10px;
  margin: none;
}

.progress
{
  margin-left: 20px;
  margin-right: 20px;
}

.small-round
{
  border-radius: 50%;
  width:  80px;
  height: 80px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border: 3px solid #222222;
  padding: 4px;
}


.skillset 
{
color: #16a085;
font-family: 'Source Sans Pro',sans-serif;;
}

.container1 {
  padding: 10px 50px;
  text-align: center;
}

.chart {
  position: relative;
  display: inline-block;
  margin: 20px 10px;
  color: #999;
  font-size: 14px;
  text-align: center;
}
.chart canvas {
  position: absolute;
  top: 0;
  left: 0;
}

/***************************************/
.module-work
{

	background-image: url("../images/black_bg_pattern.png");
	background-color: #222222;
	background-size: cover;
	color: #ffffff;
	height: auto;
}

.module-contact
{
	background-color: #fcb533;
	height: auto;
}

.circle_div
{
	position: relative;
  overflow: hidden;
	opacity: 1;
	border: 5px solid #36C3E5;
	border-radius: 50%;
	width:  200px;
	height: 200px;
	opacity: 50%;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}
.workbg_opacity:hover{opacity: 0.3;}

ul.no-bullets
{
	list-style-type: none;
}

.thumb
{
  width:200px;
  height: 200px;
}

/************Animation button for Work module**************/
.button 
{
    position: absolute;
    top: 66px;
    left: 71px;
    width: 50px;
    height: 65px;    
}

.sprite-anim-go 
{
    width: 50px;
    height: 65px;
    background-image: url("../images/go.png");
    opacity: 0;
}

.circle_div:hover .sprite-anim-go, .sprite-anim-go-animate 
{
	opacity: 1;
    animation: 1.7s steps(51, end) 0s normal none infinite running sprite-animate-go;
}

@keyframes sprite-animate-go 
{
	0% 
	{
    	background-position: 0px 0px;
	}
	100% 
	{
    	background-position: -2550px 0px;
	}
}
/**********************************************************/
.footer
{
	background-image: url("../images/city.png");
  /*background-color: red;*/
	background-repeat: repeat;
	height: 270px ;
	width: ;
  margin: 0px;
  padding: 0px;

}
.footbase{
  padding: 0px;
  margin: 0px;
	width: 100%;
	height: 100px;
	background-color: #222222;
}

/**********map******************/

.circle_map
{
  overflow: hidden;
  border-radius: 50%;
  width:  320px;
  height: 320px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}

.test
{
  width: 320px;
  height: 320px;
  border-radius: 50%;
  padding: 8px;
  border: 4px solid #222222;
}
/****************************************/ 

/*****************Water Fonts Title******************/
.module-about1
{
  background-image: url("../images/black.png");
  background-color: #222222;
  background-size: cover;
  color: #ffffff;
  height: auto;
}

.about_title
{ 
  font-size: 25px;
  font-weight:500;
  padding: 30px;
}

.par-set
{
  text-align: justify;
  padding-left: 20px;
  padding-top: 40px;
  padding-right: 20px;
  padding-bottom: 60px;
  word-spacing: 2px;


}
