.navbar-default
{
	background-color:#484648; margin-bottom:0px; border:none; border-radius: 0px
}
html, body {
  width: auto !important;
  overflow-x: hidden !important;
}

/* test*/
.font-dosis
{
	font-family: 'Dosis', sans-serif;
}

.module_head h1
{
  font-size: 40px;
  /*padding-bottom: 80px;*/
}
.module-about
{
	background-color: #36C3E5;
	height: auto;
}
.module-work
{

	background-image: url("../images/black_bg_pattern.png");
	background-color: #222222;
	background-size: cover;
	color: #ffffff;
	height: auto;
}
.module-skills
{
	background-color: #fcb533;
	height: auto;
}
.module-contact
{
	background-color: #fcb533;
	height: auto;
}

.circle_div
{
	position: relative;
  overflow: hidden;
	opacity: 1;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	border: 5px solid #36C3E5;
	background-size: cover;
	border-radius: 50%;
	width:  270px;
	height: 270px;
	opacity: 50%;
}
.workbg_opacity:hover{opacity: 0.3;}

ul.no-bullets
{
	list-style-type: none;
}

/************Animation button for Work module**************/
.button 
{
    position: absolute;
    top: 13px;
    left: 105px;
    width: 50px;
    height: 65px;
    margin: 100px auto;
    
}

.sprite-anim-go 
{
    width: 50px;
    height: 65px;
    background-image: url("../images/go.png");
    opacity: 0;
}
r
.work_img:hover background-image: {opacity: 0.5;}
.circle_div:hover .sprite-anim-go, .sprite-anim-go-animate 
{
	opacity: 1;
    animation: 1.7s steps(51, end) 0s normal none infinite running sprite-animate-go;
}

@keyframes sprite-animate-go 
{
	0% 
	{
    	background-position: 0px 0px;
	}
	100% 
	{
    	background-position: -2550px 0px;
	}
}
/**********************************************************/
.footer
{
	background-image: url("../images/city.png");
  /*background-color: red;*/
	background-repeat: repeat;
	height: 270px ;
	width: ;
  margin: 0px;
  padding: 0px;

}
.footbase{
  padding: 0px;
  margin: 0px;
	width: 100%;
	height: 100px;
	background-color: #222222;
}

/**********map******************/

.circle_map
{
  overflow: hidden;
  border: 5px solid #36C3E5;
  background-size:cover; ;
  border-radius: 50%;
  width:  270px;
  height: 270px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 20px;
}
